<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName="LSShipMis_Land.exe"?>
<?define ProductDescription="海丰船舶管理系统(公司端)"?>
<?define SourceDir="../LSShipMis_Land"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="82B5181A-5A23-46F0-80CA-759708882AFE" Name="$(var.ProductDescription)" Codepage="UTF-8"
       Language="2052" Version="4.8.1.101" Manufacturer="大连陆海科技股份有限公司"
       UpgradeCode="62567850-E407-4953-A2A9-4F6DC188967A">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="ExampleInstaller.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- 定义安装程序路径 -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SECOND" Name="大连陆海科技股份有限公司" >
          <Directory Id="INSTALLLOCATION" Name="$(var.ProductDescription)" />
        </Directory>
      </Directory>
      <!-- 定义开始菜单的路径 -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductDescription)"/>
      </Directory>
      <!--定义桌面快捷方式-->
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
    <!-- 定义应用程序组件 -->
    <DirectoryRef Id="INSTALLLOCATION">
      <!--组件信息-->
      <Component Id="$(var.ProductName)" Guid="C44AFEB5-C625-4D97-92B4-2759B3B93785">
        <File Id="$(var.ProductName)" Source="$(var.SourceDir)/bin/$(var.BUILD)/$(var.ProductName)"/>
        <File Id="BaseInfo.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/BaseInfo.dll"/>
        <File Id="CMSManage.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/CMSManage.dll"/>
        <File Id="CommonOperation.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/CommonOperation.dll"/>
        <File Id="CommonViewer.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/CommonViewer.dll"/>
        <File Id="Cost.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/Cost.dll"/>
        <File Id="CustomerTable.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/CustomerTable.dll"/>
        <File Id="FileOperation.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/FileOperation.dll"/>
        <File Id="FileOperationBase.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/FileOperationBase.dll"/>
        <File Id="ItemsManage.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/ItemsManage.dll"/>

        <File Id="Maintenance.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/Maintenance.dll"/>
        <File Id="Oil.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/Oil.dll"/>
        <File Id="Repair.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/Repair.dll"/>
        <File Id="SAPFunction.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/SAPFunction.dll"/>
        <File Id="SeaChartManage.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/SeaChartManage.dll"/>
        <File Id="ShipCertification.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/ShipCertification.dll"/>
        <File Id="ShipMisZHJ_WorkFlow.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/ShipMisZHJ_WorkFlow.dll"/>
        <File Id="StorageManage.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/StorageManage.dll"/>
        <File Id="Interop.SAPFunctionsOCX.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/Interop.SAPFunctionsOCX.dll"/>
        <File Id="ZedGraph.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/ZedGraph.dll"/>
        <File Id="SynchDll.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/SynchDll.dll"/>
        <!--<File Id="Interop.SAPTableFactoryCtrl.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/Interop.SAPTableFactoryCtrl.dll"/>-->
        <File Id="VbSapRFCCall.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/VbSapRFCCall.dll"/>
        <File Id="GunterControl.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/GunterControl.dll"/>
        <File Id="OfficeOperation.dll" Source="$(var.SourceDir)/bin/$(var.BUILD)/OfficeOperation.dll"/>
      </Component>
      <!--文件信息-->
      <Component Id="Files" Guid="D2136E25-8416-4A8F-92E5-3D187E6F678A">
        <File Id="back.jpg" Source="$(var.SourceDir)/bin/$(var.BUILD)/back.jpg"/>
        <File Id="sys.ico" Source="$(var.SourceDir)/bin/$(var.BUILD)/sys.ico"/>
        <File Id="translate.xml" Source="$(var.SourceDir)/bin/$(var.BUILD)/translate.xml"/>
        <File Id="FILE" Source="$(var.SourceDir)/bin/$(var.BUILD)/what'snew.txt"/>
      </Component>
      <!--升级程序-->
      <Component Id="LoginFiles" Guid="BA3D5654-081C-4299-9654-E18CF2C65DD5">
        <File Id="LandLogin" Source="$(var.SourceDir)/bin/$(var.BUILD)/LandLogin.exe"/>
      </Component>
    </DirectoryRef>
    <!-- 定义快捷方式及卸载功能 -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C52F763E-1898-48C2-836E-BE837AE6912F">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.ProductDescription)"
                  Description="$(var.ProductDescription)"
                  Target="[INSTALLLOCATION]$(var.ProductName)"
                  WorkingDirectory="INSTALLLOCATION"/>
        <Shortcut Id="UninstallProduct"
                  Name="卸载"
                  Description="卸载$(var.ProductDescription)"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" Icon="uninstall">
          <Icon Id="uninstall" SourceFile="Resources/uninstall.ico"/>
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\LandSea" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <!--桌面快捷方式-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="{04C0EE51-13A8-4916-896F-3068327F5CEE}">
        <Shortcut Id="DesktopShortcut"
              Name="$(var.ProductDescription)"
              Description="starts $(var.ProductName)"
              Target="[INSTALLLOCATION]$(var.ProductName)"
              WorkingDirectory="APPLICATIONROOTDIRECTORY"
               />

        <RegistryValue Root="HKCU" Key="Software\Landsea\$(var.ProductName)" Name="installedDesktopShortcut" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <!-- 安装项目的选择 -->
    <Feature Id="ProductFeature" Title="安装选择" Level="1" ConfigurableDirectory="INSTALLLOCATION" TypicalDefault="install" >
      <ComponentRef Id="$(var.ProductName)" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="Files" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="LoginFiles" />
    </Feature>
    <UIRef Id="WixUI_Mondo"/>
  </Product>
</Wix>